/*-----------------------------------*\
  $RESET
\*-----------------------------------*/

*, :before, :after {
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

input, select, button, textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  font: inherit;
  color: inherit;
}

/*-----------------------------------*\
  $OBJECTS
\*-----------------------------------*/

.butt, .input {
  padding: .75rem;
  margin: .375rem;

  background-color: transparent;
  border-radius: 4px;
}

  .butt:focus, .input:focus {
    outline: none;
  }

.butt {
  border: 2px solid #f35626;
  line-height: 1.375;
  padding: 0.8rem 1.5rem;

  font-weight: 700;

  color: #f35626;

  cursor: pointer;
  -webkit-animation: hue 60s infinite linear;
}

  .butt--primary {
    background-color: #f35626;
    color: #fff;
  }

.input {
  border: 1px solid #c0c8c9;
  border-radius: 4px;
}

  .input--dropdown {
    background-image: url("images/ddown.png");
    background-image: url("images/ddown.svg?3"), none;
    background-repeat: no-repeat;
    background-size: 1.5rem 1rem;
    background-position: right center;
  }

/*-----------------------------------*\
  $TYPOGRAPHY
\*-----------------------------------*/

h1, .alpha {
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 100;
  line-height: 1;
  letter-spacing: -.05em;
}

h2, .beta {
  margin-bottom: .75rem;

  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1;
}

@media (min-width: 650px) {
  .mega {
    font-size: 6rem;
    line-height: 1;
  }
}

.subhead, .meta {
  text-align: center;
  color: #7b8993;
}

.promo {
  text-align: center;
}

p, hr, form {
  margin-bottom: 1.5rem;
}

hr {
  border: none;
  height: 1px;
  width: 400px;
  margin: 50px auto 20px;
  background-color: #c0c8c9;
  background-image: -webkit-linear-gradient(0deg, #fff, #c0c8c9, #fff);
}

a {
  color: inherit;
  text-decoration: underline;
  -webkit-animation: hue 60s infinite linear;
}

  a:hover {
    color: #f35626;
  }

/*-----------------------------------*\
  $LAYOUT
\*-----------------------------------*/

.wrap {
  max-width: 38rem;
  margin: 0 auto;
}

.isle {
  padding: .75rem;
}

.spit {
  padding: .375rem;
}

/*-----------------------------------*\
  $BASE
\*-----------------------------------*/

html {
  font: 100%/1.5 "Roboto", Verdana, sans-serif;
  color: #3d464d;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;

  /* Centering in The Unknown */
}

/*-----------------------------------*\
  $HEADER
\*-----------------------------------*/

.site__header {
  margin-top: 3em;
  -webkit-animation: bounceInUp 1s;
}

  .site__title {
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 60s infinite linear;
    outline: 0;
  }

.site__content {
  -webkit-animation: bounceInUp 1s;
  -webkit-animation-delay: .1s;
}

  .site__content form {
    text-align: center;
    -webkit-animation: bounceInUp 1s;
    -webkit-animation-delay: .1s;
  }

/*-----------------------------------*\
  $ANIMATIONS
\*-----------------------------------*/

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}


/**
 * Mine
 */

.code-area-container
{
  margin: .5em auto;
  background-color: #272822;
  overflow-x: auto;
  overflow-y: hidden;
}

.code-area:before
{
  display: block;
  width: 100%;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 7px;

  background: -moz-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%); /* W3C */
}

.code-area:after
{
  display: block;
  width: 100%;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 7px;

  background: -moz-linear-gradient(bottom, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
  background: linear-gradient(to top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%); /* W3C */
}

.code-area
{
  position: relative;
  display: table;
  direction: ltr;
  padding: 0 1em;
  margin: 0 auto;
  background-color: #272822;
  color: #F8F8F2;
  text-align: left;
  white-space: pre;
  line-height: 1.5;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
}

.token-tag
{
  color: #F92672;
}

.token-attr
{
  color: #A6E22E;
}

.token-value
{
  color: #E6DB74;
}

.inline-block
{
  display: inline-block;
}

.toogle-btn
{
  position: relative;
  display: inline-block;
  border: 2px solid rgba(220, 220, 220, 0.58);
  line-height: 1.375;
  padding: 0.8rem 1.5rem;
  border-radius: 4px;
  font-weight: 700;
  color: rgba(220, 220, 220, 0.58);
  cursor: pointer;

  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  transition: all .4s;
}

.toogle-btn.active
{
  border-color: #F35626;
  color: #F35626;
}

.toogle-btn .handle
{
  position: absolute;
  top: 0;
  left: 5px;
  height: 100%;
  width: .5rem;
  background-color: #F35626;
  -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  -webkit-animation: hue 60s infinite linear;
  -ms-animation: hue 60s infinite linear;
  -moz-animation: hue 60s infinite linear;
  animation: hue 60s infinite linear;
}

.toogle-btn.active .handle
{
  transform: translate3d(80px,0,0);
}